:root {
    --background: #ccc; 
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #666666;
    background-color: #F8F8F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}