

.titulo {
margin: 50px 0 30px;
}

section {
  display: block;
  margin: 20px 0 ;
}
.ftco-no-pb {
  padding-bottom: 0!important;
}
.ftco-no-pt {
  padding-top: 0!important;
}
.ftco-section {
  padding: 8em 0;
  position: relative;
  width: 100%;
}
section .img{
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.486);
  margin-top: 100px;
}
 .services-wrap .services {
  padding: 25px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}
 .services:hover {
  background-color: #fff;
  transition: ease-in-out 0.3s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}
.services .icon {
  margin: 0 auto;
}

.services .icon i {
  font-size: 60px;
  line-height: 1.2;
  color: #532FB7;
}

.services-wrap .services .text h2, .services-wrap .services .text .h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto",Arial,sans-serif;
}

.services .text h2, .services .text .h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-wrap {
  position: relative;
}
.services-wrap .services .text {
  padding: 0;
  padding-left: 20px;
}
.services .text {
  width: 100%;
  padding-left: 30px;
}
.heading-section .title {
 
  font-size: 46px;
    font-weight: 500;
    line-height: 1.4;
}

 .sub-title {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color:#532FB7;
  font-weight: 700;
  text-transform: uppercase;
 }

 .btn-primary{
    background-color: #532FB7;
}
.btn-about {
  color: #fff;
  background-color: #532FB7;
}
.btn-about:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid  #532FB7;
    
}
  .rodape {
    background-color: #532FB7;
    padding: 60px;
    color: #fff;
  }

  
  .rodape a{
    color:#6736ee;
  }

  .rodape i .fa{
    color:#fff;
    font-size: 1.5rem;
    padding: 15px 0;
  }

  .rodape h2{
    color:#fff;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .Copyright {
      color:  white;
  }




    
/* ==========================================================================
 Counter Section Style
 ========================================================================== */
 .counters {
  background: url(01.loader.jpg) fixed;
  position: relative;
}

.counters .facts-item {
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 30px;
  height: 400px;
}

.counters .facts-item .icon {
  width: 100px;
  height: 100px;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.counters .facts-item .icon i {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #fff;
  background: #532FB7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  box-shadow:  1px 1px 3px rgb(0, 0, 0);
  
   
}

.counters .facts-item .fact-count h3 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.542);
}

.counters .facts-item .fact-count h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.549)
}



.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #532FB7;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right,  #532FB7, #8058ec);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #532FB7, #8058ec);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #532FB7;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #532FB7;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}










.about-section{
	position:relative;
	padding:120px 0px;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
	padding-top:50px;
	padding-right:100px;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
	border:2px solid#532FB7;
}

.about-section .image-column .inner-column .image{
	position:relative;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
	background:url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#532FB7;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #d7a449;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #532FB7;
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color:#532FB7;
    font-size: 60px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}





.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #7b60c4 99%, #7b60c4 100%);
}
.darken-grey-text {
  color: #2E2E2E;
}
.embedded-video {
	position: relative;
	padding-bottom: calc(100% / (560/315));
	border: 10px solid #c9c9c9;
}

.embedded-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}






